.outerContainer{
  background: url("/blob-scene-haikei.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 800px;
  padding: 0px;
  overflow: hidden;

}


.intro{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.mob{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,0%);
  background-color: white;
}


.background{
  position: absolute;
  height: 30%;
  width: 150vw;
  transform: rotate(-7deg);
  left: -10%;
  top: -10%;
  background-color: rgb(246, 208, 91);
  z-index: -0;
}

.textIntro{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
  margin: 0%;
  padding: 10px;
  z-index: 10;
}


/* .paragraph{
  position:absolute;
  width: 120%;
  font-size: 18px;
  bottom:-63%;
  color: rgb(255, 193, 59);
  font-family: 'Indie Flower', cursive;
  text-align: center;
  padding-right:10px;
} */



.quote{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  width: 50%;
  /* font-display: swap; */
  text-align: center;
}
.showcaseImg{
  padding-top: 50px;
  width:100%;
  height: auto;

}
.textIntro>h1{
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin: 0%;
  margin-top: 6.5px;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Caveat', cursive;

}
.dynamicTxt{
  height: 5%;
}
.dynamicTxt>li{
  list-style: none;
  font-size: 30px;
  margin-left: 10px;
  padding: 8px;
}
.ul{
  list-style: none;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 25%;
  width: 50%;

}

.dynamicTxt li{
  position: relative;
  top:0;
  animation: slide 3s steps(2) infinite;
  padding-bottom: 11.7px;
}

@keyframes slide {
  100%{
    top:-125px;
  }
}

.span::after{
  content: "";
  width: 100%;
  height: 110%;
  /* border-left: 2px solid white; */
  position: absolute;
  left: 0;
  animation: typing 1.5s steps(40) infinite;
  background:#001220;
}
.span{
  font-size: 35px;
  position: relative;
  /* color: rgb(65, 67, 203); */
  color: rgb(250, 82, 138);
  font-family: 'Lobster', cursive;
}

.dynamicTxt{
  height: 54px;
  overflow: hidden;
  margin: 0%;
  padding-left: 0;
}

@keyframes blink {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes typing {
  100%{
    left: 120%;
  }
}
.svg1{
  height: auto;
  width: 300px;
  z-index: 3;
}
.image{
  height:200px;
  width: 300px;
  margin:0;
  padding: 0;
  z-index: 3;
}

@media screen and (max-width:450px){
  .outerContainer{
    background: url("/blob-scene-haikei (2).svg") no-repeat center center;
  }
  .intro{
    height: 84%;
  }
}