.container{
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  height: 200vh;
  z-index: 20;
}



.project{
  padding: 10px;
  height: max-content;
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 5px 5px 20px rgba(90, 90, 90, 0.356);
  z-index: 10;
  background-color: rgb(136, 190, 252);
}


.project>h1{
  font-size: large;

}
.project>p{
  margin: 50px;
  margin: 10px;
  text-align: center;
  
}
.projectImage{
  width: 100%;
  height: auto;
}


.buttons{
  background: inherit;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.buttons>button{
  background: rgb(236, 235, 233);
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: rgb(0, 0, 0);
  transition: all 0.8s ease-in-out;
  box-sizing: border-box;
}

.buttons>button:hover{
  border-radius: 0;
  padding-left:15px;
  padding-right:15px;
}

@media screen and (max-width:550px){
  .project{
    width: 400px;
  }
}