.container{
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background:linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.507)),url("/blob-scatter-haikei (1).svg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  padding: 10px;
  height: 200vh;
  z-index: 20;

}



.spacer{
  position: absolute;
  z-index: 0;
  height: 40%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





.project{
  padding: 10px;
  height: max-content;
  width: 550px;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 5px 10px 20px rgba(122, 122, 122, 0.35);
  z-index: 10;
  /* background-color: rgb(255, 228, 110); */
  background-color:#464646;
  /* background-color: #F64C72; */
}
.project:hover{
  padding-bottom: 10px;
}

.project>h1{
  font-size: large;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
}
.project>p{
  text-align: center;
  color: #ffffff;
  /* font-family: 'Besley', serif; */
  /* font-size: 18px; */
  font-weight: 500;
  padding: 0px 10px;
  
}
.projectImage{
  width: 100%;
  height: auto;
}


.buttons{
  background: inherit;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.buttons>button{
  background: rgb(22, 17, 70);
  /* border-radius: 10px; */
  border: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  transition: all 0.8s ease-in-out;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  font-size: 15px;
}


@media screen and (max-width:550px){
  .project{
    width: 92%;
  }
  .container{
    background: inherit;

  }
}