.container{
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50%;
  padding: 10px;
  height: 200vh;
  z-index: 20;
}



.project{
  padding: 10px;
  height: max-content;
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 5px 5px 20px rgba(197, 197, 197, 0.356);
  z-index: 10;
}


.project>h1{
  font-size: large;

}
.project>p{
  margin: 50px;
  margin: 10px;
}
.projectImage{
  width: 100%;
  height: auto;
}


.buttons{
  background: inherit;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.buttons>button{
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: rgb(5, 5, 5);
  transition: all 0.8s ease-in-out;
  box-sizing: border-box;
}

.buttons>button:hover{
  border-radius: 0;
  padding-left:15px;
  padding-right:15px;
}