.showcase{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 800px;
  margin: 100px 0px;
  z-index: 4;
  background-color:#001220;
}

.showcaseImg{
  position: relative;
  height: 100%;
  width: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.411)),
  url('/kelly-sikkema-pXmyDPziB8w-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.paragraph{

  font-family: 'Indie Flower', cursive;
  
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;

}


.quote{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 600;
  padding:0px 20px;
  /* width: 50%; */
  /* font-display: swap; */
  text-align: center;
}
.showcaseImg>p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgb(255, 255, 255);
  font-size: x-large;
  text-align: center;
  font-weight: 700;
  font-family: 'Indie Flower', cursive;
  margin-top: 0px;
}

@media screen and (max-width:550px){
  .showcase{
    height: 600px;
  }
  
}

@media screen and (max-width:420px){
  .showcaseImg{
    width: 90%;
  }
}